
@font-face {
  font-display: swap;
  font-family: "Epilogue";
  font-weight: 400;
  src: url("./fonts/epilogue-v17-latin-regular.woff2") format("woff2"),
  url("./fonts/epilogue-v17-latin-regular.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Epilogue";
  font-weight: 500;
  src: url("./fonts/epilogue-v17-latin-500.woff2") format("woff2"),
  url("./fonts/epilogue-v17-latin-500.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "Epilogue";
  font-weight: 700;
  src: url("./fonts/epilogue-v17-latin-700.woff2") format("woff2"),
  url("./fonts/epilogue-v17-latin-700.woff") format("woff");
}
*{
  box-sizing: border-box;
}
html {
  height: 100%;
}
img {
  display: block;
}
body {
  font-family: "Epilogue";
  font-weight: 500;
  background-color: #fafafa;
}
.container {
  max-width: 1370px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}
/* Header section started */

.header {
  padding-top: 34px;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__link {
  margin-right: 62px;
  text-decoration: none;
}
.header__nav {
  margin-right: auto;
}
.nav-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-list__item {
  display: flex;
  align-items: center;
}
.nav-list__link {
  padding-top: 21px;
  padding-bottom: 21px;
  color: #686868;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
}
.nav-list__link:hover {
  color: #151515;
}
.nav-list__item:not(:last-child) {
  margin-right: 40px;
}
.nav-list__item:nth-child(1)::after {
  display: inline-block;
  margin-left: 9px;
  width: 12px;
  height: 7px;
  background-image: url("./images/tepa.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.nav-list__item:nth-child(2)::after {
  display: inline-block;
  margin-left: 9px;
  width: 12px;
  height: 7px;
  background-image: url("./images/tepa.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.nav-list__item:hover .items-list {
  display: block;
}
.items-list {
  position: absolute;
  top: 94px;
  left: 173px;
  display: none;
  padding: 24px 36px 24px 25px;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  border-radius: 10px;
  background-color:  #fff;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
  z-index: 5;

}
.items-list__item {
  display: flex;
  align-items: center;
  color:#686868;
  font-size: 14px;
  line-height: 16px;
}
.items-list__active{
  color:#686868;
  font-size: 14px;
  line-height: 16px;
}
.item-list-link {
  color:#686868;
  text-decoration: none;
}
.item-list-link:hover {
  color: #151515;
}
.items-list__active:hover {
  color: #151515;
}
.items-list__active:not(:last-child) {
  margin-bottom: 16px;
}
.items-list__item:not(:last-child) {
  margin-bottom: 16px;
}
.items-list--active {
  position: absolute;
  top: 94px;
  left: 363px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.15);
}
.items-list--active:not(:last-child) {
  margin-bottom: 16px;
}
.items-list__item:nth-child(1)::before {
  display: inline-block;
  margin-right: 15px;
  width: 14px;
  height: 16px;
  background-image: url("./images/kok.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.items-list__item:nth-child(1):hover::before {
  display: inline-block;
  margin-right: 15px;
  width: 14px;
  height: 16px;
  background-image: url("./images/kok.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.items-list__item:nth-child(2)::before {
  display: inline-block;
  margin-right: 15px;
  width: 16px;
  height: 16px;
  background-image: url("./images/calendar.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.items-list__item:nth-child(3)::before {
  display: inline-block;
  margin-right: 15px;
  width: 12px;
  height: 16px;
  background-image: url("./images/qongroq.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}
.items-list__item:nth-child(4)::before {
  display: inline-block;
  margin-right: 15px;
  width: 16px;
  height: 16px;
  background-image: url("./images/soat.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
}

.header__endlink {
  color: #686868;
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  text-decoration: none;
}
.header__endlink:hover {
  color: #151515;
}
.header__active {
  margin-left: 40px;
  padding: 13px 22px;
  border-radius: 14px;
  border: 2px solid #686868;
}
/* Header section finished */
/* Main section started */
/* hero section started */
.hero {
  position: relative;
  padding-top: 175px;
  padding-bottom: 130px;
  background-image: url("./images/bg.png");
  background-size: 480px 640px;
  background-repeat: no-repeat;
  background-position: calc(50% - -322px) calc(50% + -42px);

}
.hero__wrapper {
  display: inline-block;
  margin-left: 100px;
  width: 540px;
}
.hero__title {
  margin-top: 0;
  margin-bottom: 48px;
  color: #151515;
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: -1.111px;
}
.hero-text {
  width: 445px;
}
.hero__text {
  margin-top: 0;
  margin-bottom: 51px;
  color: #686868;
  font-size: 18px;
  line-height: 28px;
}
.hero__link {
  display: inline-block;
  margin-bottom: 116px;
  padding: 15px 24px;
  color: #fafafa;
  font-size: 18px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.25px;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color:#151515;
  text-decoration: none;
  transition: background-color 0.3s linear;
}
.hero__link:hover {
  color: #151515;
  border: 1px solid #151515;
  background-color:#fff;
  /* transition: background-color 0.3s linear; */
}
.hero-list {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0;
  margin: 0;
  list-style: none;
  padding-left: 0;
}
.hero-list__item:not(:last-child) {
  margin-right: 40px;
}
/* hero section finished */
/* Main section finished */